html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.5rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: bold;
    padding-bottom: 1rem;
}

h1, .h1 {
    font-size: 4.5rem;
}

h2, .h2 {
    font-size: 4rem;
}

h3, .h3 {
    font-size: 3.5rem;
}

h4, .h4 {
    font-size: 3rem;
}

h5, .h5 {
    font-size: 2.5rem;
}

h6, .h6 {
    font-size: 2;
}

p { 
    padding: 1rem 2rem;
    line-height: 2rem;
    word-spacing: 0.1rem;
}

a {
    color: rgb(233, 243, 252);
    text-decoration: none;

    &:hover {
        text-decoration: underline 0.2rem;
        text-decoration-style: dotted;
    }
}

abbr {
    text-decoration: underline dotted 0.2rem;
}

b {
    font-weight: bold;
}

code {
    font-family: monospace;

    p > &,
    li > &,
    dd > &,
    td > & {
        background: #ffeff0;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: .1rem .3rem .2rem;
        border-radius: .2rem;
    }

    pre & {
        display: block;
        background: none;
        white-space: pre;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        max-width: 100%;
        min-width: 100px;
        padding: 0;
    }
}

del {
    text-decoration: line-through 0.2rem;
}

em, i {
    font-style: italic;
}

hr {
    width: 80%;
    color: rgb(240, 240, 240);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

kbd {
    margin: 0px 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	line-height: 1.4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	display: inline-block;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: rgb(247, 247, 247);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
}

sub {
    font-size: small;
    position: relative;
    top: 0.5rem;
}

sup {
    font-size: small;
    position: relative;
    bottom: 0.5rem;   
}

strong {
    font-weight: bold;
    text-decoration: underline 0.2rem;
}
