<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/typo.css">

    <title>Template</title>
</head>
<body>
    <!-- GRID CONTAINER -->
    <div class="container">

        <!-- HEADER -->
        <header class="header">
            <a class="header__hamburger" href="#nav-menu_target">
                <div class="header__hamburger--item"></div>
                <div class="header__hamburger--item"></div>
                <div class="header__hamburger--item"></div>
            </a>
            <a class="header__title" href="#">Template</a>
            <div class="header__search">
                <input class="header__search--bar" type="search" placeholder="🔍">
            </div>
            <div class="header__breadcrumb">
                arianne 
            </div>
            <div class="header__login"></div>
        </header>

        <!-- MAIN -->
        <main class="main">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, doloribus maiores aperiam voluptates error qui harum quam aut, cumque sed eveniet ratione quae magni, eos fuga blanditiis ducimus provident! Dolore.
            Molestiae ad laboriosam voluptate eius iusto fugit esse nesciunt facilis a ipsum mollitia, aspernatur odit corrupti laborum. Labore sapiente earum, aliquid, hic dignissimos repudiandae, non eos quaerat error tenetur nostrum!
            Sequi vitae repudiandae nobis temporibus quae voluptas ratione porro maxime doloremque dolor mollitia asperiores, hic at, deleniti reprehenderit odio dignissimos eos eveniet itaque accusantium! Rerum amet perspiciatis quae autem facere.
            Tenetur laborum eaque nisi obcaecati, dolores officiis atque amet iure, quae rem magni culpa nostrum veniam eius sed, et ab nam magnam fugiat dolor excepturi nihil. Repudiandae velit eveniet quaerat.
            Sequi commodi laborum hic pariatur culpa soluta sit maiores vel at dolor possimus et repellat asperiores earum nulla, magnam doloribus blanditiis? Cupiditate iste nisi veritatis beatae harum commodi! Maiores, rem.
            Ipsum ut eaque ad et eligendi, explicabo quaerat incidunt! Animi voluptas non distinctio autem laudantium culpa at qui dolorum nobis, quaerat numquam voluptates maiores minima sunt eum, quidem natus. Officia.
        </main>

        <!-- ASIDE -->
        <aside class="aside">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque consectetur hic veniam ab officiis magni nostrum velit pariatur beatae unde. Quo esse at cum assumenda suscipit pariatur! Repellendus, quas eum?
            Nobis dolores quaerat corrupti rem vitae quibusdam non excepturi illum aliquam corporis officiis consequatur minima voluptate, dicta esse ratione nihil quis! Ipsa veritatis libero perferendis explicabo quam cum rem nostrum!
            Eaque vitae perspiciatis dolorum quam obcaecati, illum autem dignissimos veritatis necessitatibus sed consequatur debitis exercitationem cumque quae odit odio corporis possimus vero, dolore quidem. Omnis quos modi aliquid quas quidem.
            Saepe blanditiis molestiae, ex dicta exercitationem totam alias nisi omnis, dolores atque quae praesentium error mollitia, tempore culpa eum! Quod necessitatibus amet rerum ab! Est ratione labore ut explicabo nam!
        </aside>

        <!-- MENU -->
        <nav class="nav-menu" id="nav-menu_target">
            <a class="nav-menu__hamburger" href="#">×</a>
            <div class="nav-menu__search">
                <input class="nav-menu__search--bar" type="search" placeholder="🔍">
            </div>
            <ul class="nav-menu__login">
                <li class="nav-menu__login--item">
                    <a class="nav-menu__login--link" href="#">Create Account</a>
                </li>
                <li class="nav-menu__login--item">
                    <a class="nav-menu__login--link" href="#">Login</a>
                </li>
            </ul>
            <ul class="nav-menu__links-list">
                <li class="nav-menu__links-list--item">
                    <a class="nav-menu__links-list--link" href="#">Item 1</a>
                </li>
                <li class="nav-menu__links-list--item">
                    <a class="nav-menu__links-list--link" href="#">Item 2</a>
                </li>
                <li class="nav-menu__links-list--item">
                    <a class="nav-menu__links-list--link" href="#">Item 3</a>
                </li>
            </ul>
            <div class="nav-menu__social">Social</div>
        </nav>

        <!-- SOCIAL -->
        <div class="social">
            SOCIAL MAIN
        </div>

        <!-- FOOTER -->
        <footer class="footer">
            &copy;Footer
        </footer>
    </div>
</body>
</html>