.accordion {
    width: 100%;
    border: none;
    border-bottom: solid black 1px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #95a5a6;
}

.accordion:after {
    content: '\002B';
    float: right;
    margin-right: 0.5em;
    font-size: 1.1em;
    color: rgb(75, 75, 75);
}

.accordion--act .accordion:hover {
    background-color: #7f8c8d;
}

.accordion--active:after {
    content: "\2212";
}

.accordion__panel {
    background-color: #bdc3c7;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion__content {
    padding: 10px 25px;
}