<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/layout.css">

    <title>Template</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="hamburger_open">/ / / / / /</div>
            <div class="title">Titre</div>
            <div class="breadcrumb">
                arianne
            </div>
        </header>
        <!-- HIDDEN MENU
        <nav class="nav-menu">
            <div class="hamburger_close"></div>
            <div class="search"></div>
            <div class="login"></div>
            <div class="menu"></div>
            <div class="social"></div>
        </nav>
        -->
        <section class="main">
            Main
        </section>
        <aside class="aside">
            Aside
        </aside>
        <footer class="footer">
            Footer
        </footer>
    </div>
</body>
</html>