<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Template</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="hamburger_open"></div>
            <div class="title"></div>
            <div class="breadcrumb"></div>
        </header>
        <nav class="nav-menu">
            <div class="hamburger_close"></div>
            <div class="search"></div>
            <div class="login"></div>
            <div class="menu"></div>
            <div class="social"></div>
        </nav>
        <section id="main"></section>
        <aside class="aside"></aside>
        <footer class="footer"></footer>
    </div>
</body>
</html>