.container {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr auto 5%;
}
.header {
    display: grid;
    grid-template-areas: 
        "hamburger_open title"
        "breadcrumb breadcrumb";
    grid-area: header;
    grid-template-columns: auto 1fr;
    grid-template-rows: 60% 40%;

    background-color: red;
}
.hamburger_open {
    grid-area: hamburger_open;

    background-color: yellow;
}
.hamburger_close {
    grid-area: hamburger_close;
}
.title {
    grid-area: title;

    background-color: blue;
}
.breadcrumb {
    grid-area: breadcrumb;
    background-color: green;
}
.nav-menu {
    display: grid;
    grid-template-areas: 
        "hamburger_close"
        "login"
        "menu"
        "social";
    grid-area: nav-menu;
}
.search {
    grid-area: search;
}
.login {
    grid-area: login;
}
.menu {
    grid-area: menu;
}
.social {
    grid-area: social;
}
.main {
    grid-area: main;
}
.aside {
    grid-area: aside;
}
.footer {
    grid-area: footer;
}