{% extends "base.html" %}

{% block title %}<title>pwdGen</title>{% endblock title %}


{% block content %}
        <section>
            <form action="#" method="post" class="form_generate">
                <label for="plength">Password Length</label>
                <input type="number" name="plength" id="plength" value="12" min="6" max="64" required>

                <label for="plower">Include Lowercase</label>
                <input type="checkbox" name="plower" id="plower">

                <label for="pupper">Include Uppercase</label>
                <input type="checkbox" name="pupper" id="pupper">

                <label for="pnumber">Include Numbers</label>
                <input type="checkbox" name="pnumber" id="pnumber">

                <label for="psymbol">Include Symbols</label>
                <input type="checkbox" name="psymbol" id="psymbol">

                <input type="submit" value="Generate">
            </form>
        </section>
{% endblock content %}

