@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: bold;
  padding-bottom: 1rem;
}

h1, .h1 {
  font-size: 4.5rem;
}

h2, .h2 {
  font-size: 4rem;
}

h3, .h3 {
  font-size: 3.5rem;
}

h4, .h4 {
  font-size: 3rem;
}

h5, .h5 {
  font-size: 2.5rem;
}

h6, .h6 {
  font-size: 2;
}

p {
  padding: 1rem 2rem;
  line-height: 2rem;
  word-spacing: 0.1rem;
}

a {
  color: #e9f3fc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline 0.2rem;
  text-decoration-style: dotted;
}

abbr {
  text-decoration: underline dotted 0.2rem;
}

b {
  font-weight: bold;
}

code {
  font-family: monospace;
}
p > code, li > code, dd > code, td > code {
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}
pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}

del {
  text-decoration: line-through 0.2rem;
}

em, i {
  font-style: italic;
}

hr {
  width: 80%;
  color: #f0f0f0;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #333333;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  display: inline-block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
}

sub {
  font-size: small;
  position: relative;
  top: 0.5rem;
}

sup {
  font-size: small;
  position: relative;
  bottom: 0.5rem;
}

strong {
  font-weight: bold;
  text-decoration: underline 0.2rem;
}

.typo {
  min-height: 100vh;
  padding: 1.5rem 3rem;
  background-color: #3e92ca;
}
.typo__title {
  padding: 2rem 0;
}
.typo__content {
  padding: 0 2rem;
}

.p_accordion {
  min-height: 100vh;
  padding: 0 3rem;
  background-color: #363636;
}

.accordion {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  font-size: 2.4rem;
  padding: 1rem 2rem;
  border-bottom: solid #63b3fd 1px;
  background-color: #202020;
  color: #ebebeb;
}
.accordion:after {
  content: "+";
  float: right;
  color: #63b3fd;
}
.accordion:hover, .accordion:active {
  background-color: #252525;
}
.accordion__panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #252525;
  color: #ebebeb;
}
.accordion__content {
  padding: 1rem 2rem;
}
.accordion__content::-moz-selection, .accordion__content::selection {
  background-color: #63b3fd;
}
.accordion--active:after {
  content: "−";
}

/*# sourceMappingURL=style.css.map */
