.container {}

.header {
    background-color: #0D0A0B;
    color: #fefefe;
}

.header__hamburger {}

.header__hamburger--item {
    background-color: #fefefe;
}

.header__title {
    color: #fefefe;
    font-size: 4rem;
    text-decoration: none;
}

.header__breadcrumb {
    background-color: #646881;
    font-size: 1.8rem;
    font-style: italic;
}

.main {
    background-color: #090C9B;
    color: #fefefe;
}

.aside {
    background-color: #657ED4;
}

.nav-menu {
    background-color: hsl(0, 0%, 86%);
    color: #000000;
}

.nav-menu a {
    color: #000000;
    text-decoration: none;
}

.nav-menu a:hover {
    text-decoration: black underline;
}

.nav-menu__hamburger {
    font-size: 5rem;  
}

.search {}

.search__bar {}

.login {}

.login__item {
    font-size: 1.5rem;
}

.menu {}

.menu__entry {}

.menu__link {}

.social {}

.footer {
    font-size: 1.5rem;
    color: #fefefe;
    background-color :#27ae60;
}