@use "../abstracts" as abs;

.container {
    background-color: abs.$main-color;
}
.typo {
    min-height: 100vh;
    padding: 1.5rem 3rem;
    
    &__title {
        padding: 2rem 0;
    }

    &__content {
        padding: 0 2rem;
    }
}

.p_accordion {
    min-height: 100vh;
    padding: 0 3rem;
    background-color: lighten(abs.$main-color, 10%);
}